/* @import url("https://fonts.googleapis.com/css?family=Oswald:400,700"); */
:root {
  --time-tr: 0.5s;
  --depth: 40px;

  --accent-color: #33a3ee;
  --accent-color-tone: #2982b9;

  --mnu-color: #3e3f46;
  --mnu-color-before: #2e3133;
  --mnu-color-after: #35383e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #434750;
}

ul {
  position: relative;
  transform: skewY(-15deg);
}

ul li {
  position: relative;
  list-style: none;
  min-width: 100px;
  border-top: 1px solid var(--accent-color);
  background-color: var(--mnu-color);
  padding: 15px;
  z-index: var(--i);
  transition: var(--time-tr);
}

ul li:hover {
  /* outline: 1px solid var(--mnu-color); */

  background: var(--accent-color);
  transform: translateX(50px);
  /* transition: var(--time-tr); */
}

ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(-1 * var(--depth));
  width: var(--depth);
  height: 100%;
  background: var(--mnu-color-before);
  transform-origin: right;
  transform: skewY(45deg);
  /* transition: var(--time-tr); */
}

ul li:hover::before {
  background: var(--accent-color-tone);
}

ul li::after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--depth));
  left: 0;
  width: 100%;
  height: var(--depth);
  background: var(--mnu-color-after);
  transform-origin: bottom;
  transform: skewX(45deg);
  /* transition: var(--time-tr); */
}

ul li:hover::after {
  background: var(--accent-color-tone);
}

ul li a {
  text-decoration: none;
  color: #999;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: var(--time-tr);
}

ul li:hover a {
  color: #fff;
}

ul li:last-child::after {
  box-shadow: -100px 100px 20px rgba(0, 0, 0, 0.5);
}
